{% extends "index.html" %}
{% block title %}About Us{% endblock %}


{% block content %}
<body>
<main>
The Myner Gameplay Trailer provides a comprehensive overview of this YouTube channel. You can look forward to engaging objectives, intense combat, and fast-paced vehicle racing. When you subscribe, you'll be the first to see the gameplay videos.

<div class="container">    
    <div class="row text-center d-flex justify-content-center pt-2">
        <iframe width="1180" height="500" src="https://www.youtube.com/embed/oMfJjBF-mm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
</main>
</body>

{% endblock %}