{% extends "index.html" %}
{% block title %}Contact Us{% endblock %}


{% block content %}
<body>
<main>
<div class="contact">
    <h3>Contact us</h3>
<!-- Just here i use "url_for" to call the function get_contact.
         This function return the html code of our contact page-->
    <form action="{{ url_for('contact') }}" method=post>
        <div>
            <!-- name forms -->
            <p>
                {{ form.name.label }} Name<br>
                {{ form.name(placeholder='Enter your name') }}
            </p>
            <!-- email forms -->
            <p>
                {{ form.email.label }}Email <br>
                {{ form.email(placeholder='Your E-mail Address...') }}
            </p>
            <!-- Subject of your request -->
            <p>
                {{ form.subject.label }}Subject<br>
                {{form.subject(placeholder='Enter your subject ...')}}
            </p>
            <!-- Content of your request -->
            <p>
                {{ form.message.label }}Request<br>
                {{ form.message(placeholder='Enter your request ...') }}
            </p>
            <!-- Submit button -->
            <p>
                {{ form.submit }}
            </p>
        </div>
    </form><br><br><br><br><br>
</div>
</main>
</body>

{% endblock %}