{% extends "index.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<body>
  <main>
  Popular Uploads
  <div class="container">    
      <div class="row text-center d-flex justify-content-center pt-2">
        <!-- Grid column -->    
          <iframe width="560" height="315" src="https://www.youtube.com/embed/AAjViFttCAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/dZw8HaOcCrk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gfpuyhts4e4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/uLUJb95ocms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
  </div>
  Created Playlists
  <div class="container">    
        <div class="row text-center d-flex justify-content-center pt-2">
    
            <iframe width="560" height="315"src="https://www.youtube.com/embed/videoseries?list=PLm_GwIwYZ2dbWV4BFhFQuvdwb7VTzfbvy" title="NFS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLm_GwIwYZ2da9jjI7l7q4bCV9aNOU0Y_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLm_GwIwYZ2dbg0a9ftalut3-51YRa5Iqr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLm_GwIwYZ2dZvH0Hf6DT1mDCeE3-ZSIzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>  
  

  Videos
  <div class="container">    
      <div class="row text-center d-flex justify-content-center pt-2">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jz8CaXl4JiY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/oMfJjBF-mm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/BxK38Y209Ao" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ko6DAbZ_FNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
      </div>
  </div>
  </main>


</body>

{% endblock %}